<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {
  title: "Edit Post",
  styles: ["base.css", "header.css", "update_post.css", "post_form.css"],
  extraHead: "<script src='/vendor/tinymce/tinymce.min.js'></script>",
})%>

<body>
  <%- include("partials/header.ejs", {
    title: "Edit Post",
        showCreatePostButton: false
    })%>

  <main>
    <div class="post-form">
      <%- include("partials/post_form.ejs", {
        formAction: "/update-post/" + postId,
        formMethod: "POST",
        post: post
      }) %> 
    </div>
  </main>

  <script>
    tinymce.init({
      selector: "#content",
      license_key: "gpl",
      plugins: "advlist autolink lists link image charmap preview anchor",
      toolbar: "undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help",
      setup: function (editor) {
        editor.on('change', function () {
            tinymce.triggerSave();
        })
      }
    });
  </script>
</body>
</html>