<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {
  title: "Update Post",
  styles: ["base.css", "header.css", "create_post.css"],
  extraHead: "<script src='/vendor/tinymce/tinymce.min.js'></script>",
})%>

<body>
  <%- include("partials/header.ejs", {
    title: "Update Post",
        showCreatePostButton: false
    })%>

  <%- include("partials/post_form.ejs", {
    formAction: "/update-post/" + postId,
    formMethod: "POST",
    post: post
  }) %> 
  
  <script>
    tinymce.init({
      selector: "#content",
      license_key: "gpl",
      plugins: "advlist autolink lists link image charmap preview anchor",
      toolbar: "undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help",
      setup: function (editor) {
        editor.on('change', function () {
            tinymce.triggerSave();
        })
      }
    });
  </script>
</body>
</html>