section.page-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: 10rem auto 10rem;
}

section.page-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
    z-index: 1;
}

div.page-header-text {
    /* max-width: 800px;
    width: 100%; */
    z-index: 2;
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
}

div.page-header-button {
    z-index: 2;
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6rem;
    font-weight: 800;
    color: white;
}