* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} */

/* section {
    max-width: 800px;
    width: 100%;
} */

section.welcome {
    background-image: url("/assets/img/home-bg.jpg");
    padding: 10rem 0;
    display: flex;
    justify-content: center;
}

div.welcome-text {
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    color: white;
}

.btn-create {
    font-size: 1.5rem;
}

.posts li {
    list-style-type: none;
}

.posts img {
    width: 100%;
}